<ion-view view-title = "Ajouter un patient">
	<ion-content>
		<div class="list">
      <label class="item item-input-wrapper">
        <span class="input-label">Nom :</span>
        <input type="text" placeholder='Tina' ng-value="newPatient.nom" ng-model="newPatient.nom">
      </label>
			<label class="item item-input-wrapper">
				<span class="input-label">Chambre :</span>
				<input type="text" placeholder='258b' ng-value="newPatient.chambre" ng-model="newPatient.chambre">
			</label>
			<button class="button button-full button-energized" ng-click = "codeBar()">
  			Associer patient (code barre)
			</button>
    </div>
		<div class="list">
			<label class="item item-input-wrapper">
				<span class="input-label">IP :</span>
				<input type="text" placeholder='x.x.x.x' ng-value="newPatient.ip" ng-model="newPatient.ip">
			</label>
			<label class="item item-input-wrapper">
				<span class="input-label">Port :</span>
				<input type="number" placeholder='8000' ng-value="newPatient.port" ng-model="newPatient.port" >
			</label>
			<button class="button button-full button-energized" ng-click = "QRCode()">
			 Associer moniteur (QRCode)
			</button>
		</div>



		<div class="btEnregistre">
			<button class = "button button-block button-positive" ng-click = "addNewPatient()">
				Enregistrer
			</button>
		</div>

		<!--</form>	-->
	</ion-content>
</ion-view>
