<ion-view view-title = "Ajouter un patient">
	<ion-content>
		<!--<form class="add-patient">	-->
			<div class="le_patient">
				<label class="item item-input item-stacked-label">
					<span class="input-label">
						Nom Patient
					</span>
					<input id='nom' type="text" placeholder='Tina' ng-model="newPatient.nom">
					<!-- <input id='nom' type="text" ng-model="newPatient.nom"> -->
				</label>
				<label class="item item-input item-stacked-label">
					<span class="input-label">
						IP
					</span>
					<input id='ip' type="text" placeholder='x.x.x.x' ng-model="newPatient.ip">
					<!-- <input id='ip' type="text" ng-model="newPatient.mip"> -->
				</label>
				<label class="item item-input item-stacked-label">
					<span class="input-label">
						Port
					</span>
				 <input id='port' type="number" placeholder='8000' ng-model="newPatient.port">
					<!-- <input id='port' type="number" ng-model="newPatient.mport" > -->
				</label>
			</div>

			<div class="btAdd">
				<button class = "button button-block button-positive" ng-click = "addNewPatient()">
					Ajouter
				</button>
			</div>

		<!--</form>	-->
	</ion-content>
</ion-view>
