<!-- Indique le nom de la vue (home) -->
<ion-view view-title = "Patients">
	<!-- Indique le contenu de la vue -->
	<ion-content >
		<!-- permet d'avoire une liste de patient -->
				<!-- Que les éléments de la liste sont autorisés à être glissée pour révéler des boutons d'option -->
									<!-- Permet d'identiffier (en donnant un nom "liste-patients") et de gerer la list (glissement) -->
		<ion-list can-swipe = 'true' delegate-handle="liste-patients" >
						<!-- Donne un nom a mon item -->
											<!-- ng-reapeat me permet d'avoit autent d'item que j'ai de patient -->
																				<!-- quand je clique sur un item, je vais dans la page infoPatient avec le num de l'index de l'item -->
			<ion-item  class="info-patient" ng-repeat="p in lesPatients" ng-show="p.supprimer != true" >
				<!-- Me permet de changer d'iconne quand patient.notification devient true. Si notification = false, bas la classe est 'icon ion-person-stalker' sinon 'icon ion-ios-star' -->
				<!-- je mais tous sa dans une balise "i = italique" pour me simplifier la vie -->
								<!-- Cela me permet de changer d'icon quand notification est a true ou a false-->
										<!-- Cela me permet de clignoter l'icon quand clignote est a true-->
				<div class= "bouton-du-patient" >
					<i class="icon" ng-class="{'ion-social-rss-outline': p.etatConnection == 0, 'ion-social-rss': p.etatConnection == 1, 'ion-alert-circled': p.etatConnection == 2}" ng-click="connectionOnOff($index)"></i>
					<i class="icon " ng-class="{'ion-ios-bell-outline': p.alarme == 0, 'ion-ios-bell': p.alarme == 1, 'ion-ios-bell bell_orange': p.alarme == 2}" ng-click="infoAlerte($index)"></i>
					<i class="icon ion-ios-pulse-strong calm"  ng-click="ecg($index)" ></i>
				</div>
				<div class= "info-du-patient" >
					<h2>
						{{p.nom}} 
						<i ng-style="{'margin-left':'30px'}">{{p.chambre}}</i>
					</h2>
					<p>
						<span>Fc: {{p.Fc}}</span>
						<span>SpO2: {{p.SpOz}}</span>
						<span>FR: {{p.FR}}</span>
					</p>
				</div>



				<!-- ajoute un option bouton a ma liste
				et lui donne une icone. Quand je clique sur le bouton, effectuer la fonction modifPatient du controleur homectrl et donne l'index de la liste en entrée -->
				<ion-option-button
					class = "button-positive icon ion-gear-a"  ng-click="modifPatient($index)">
				</ion-option-button>
				<!-- ajoute un option bouton a ma liste
				et lui donne une icone. Quand je clique sur le bouton, effectuer la fonction deletePatient du controleur homectrl et donne l'index de la liste en entrée -->
				<ion-option-button
					class = "button-assertive icon ion-trash-a" ng-click="deletePatient($index)">
				</ion-option-button>
			</ion-item>
		</ion-list>
	</ion-content>


	<!-- Ajoute un nouveau bouton a droite pour l'ajout de patient -->
	<ion-nav-buttons side="right" >
			<!-- indique que c'est un bouton menu et qui ammenne a "addPatient" -->
			<button class="button button-icon icon ion-person-add" ui-sref="addPatient"></button>
	</ion-nav-buttons>

</ion-view>
