<!-- Indique le nom de la vue-->
<ion-view view-title = "Alertes">
	<!-- Indique le contenu de la vue -->
	<ion-content >
		<ion-list show-delete="data.showDelete">
			<ion-item  class="item-remove-animate info-alert" ng-repeat="al in lesAlertes" ui-sref="^.graphAlert({mIndex: $index})">
				<h2>{{al.date}}</h2>
				<p>
					<span>
						{{al.descriptif}}
					</span>
				</p>
				<ion-delete-button
					class="ion-minus-circled" ng-click="deleteAlerte($index)">
        </ion-delete-button>
			</ion-item>
		</ion-list>
		<button class="button button-full  button-assertive icon-left ion-trash-a" ng-click="deleteAll()">Tout supprimer</button>

	</ion-content>

	<!-- Ajoute un nouveau bouton a droite pour suprimer les alertes -->
	<ion-nav-buttons side="right" >
			<button class="button button-icon icon ion-ios-minus-outline" ng-click="data.showDelete = !data.showDelete"></button>
	</ion-nav-buttons>
</ion-view>
