<ion-view view-title = "Modifier les donnees du patient">
	<ion-content>

		<div class="list">
			<div class="item item-divider">
				Patient
			</div>
      <label class="item item-input">
        <span class="input-label">Nom</span>
        <input type="text" ng-value="patient.nom" ng-model="patient.nom">
      </label>
			<label class="item item-input">
				<span class="input-label">Chambre</span>
				<input type="text" ng-value="'611b'" >
			</label>
    </div>

		<div class="list" ng-show="test != true">
			<div class="item item-divider">
				Seuil
			</div>
			<label class="item item-input">

				FC:
				<br></br>
				<br></br>
				<div>
					<span class="input-label">Min:</span>
					<input type="number" ng-value="60">
				</div>
				<div>
					<span class="input-label">Max:</span>
					<input type="number" ng-value="100">
				</div>
			</label>
			<label class="item item-input">

				FR:
				<br></br>
				<br></br>
				<div>
					<span class="input-label">Min:</span>
					<input type="number" ng-value="14">
				</div>
				<div>
					<span class="input-label">Max:</span>
					<input type="number" ng-value="20">
				</div>
			</label>
			<label class="item item-input">

				Sp02:
				<br></br>
				<br></br>
				<div>
					<span class="input-label">Min:</span>
					<input type="number" ng-value="95">
				</div>
				<div>
					<span class="input-label">Max:</span>
					<input type="number" ng-value="100">
				</div>
			</label>
		</div>

		<div class="list" ng-show="test != false">
			<div class="item item-divider">
				Scanner
			</div>
			<label class="item item-input item item-button-right">
				<span class="input-label">Associer Moniteur</span>
				<button class="button button-light">
					<img class="logo-image" src="img/qr_code-512.png">
				</button>
			</label>
			<label class="item item-input item item-button-right">
				<span class="input-label">Associer Patient</span>
				<button class="button button-light">
					<img class="logo-image" src="img/codeBare.png">
				</button>
			</label>
		</div>


		<button class = "button button-block button-positive" ng-click = "modifPatient()">
			modiffier
		</button>
	</ion-content>

	<script id="templates/popover.html" type="text/ng-template">
		<ion-popover-view class=momPopover>
			<ion-content>
				<div class="list">
					<a class="item" ng-click="baba()" target="_blank">
						Seuil alarme
					</a>
					<a class="item" ng-click="bibi()" target="_blank">
						Associer
					</a>
				</div>
			</ion-content>
		</ion-popover-view>
	</script>



	<!-- Ajoute un nouveau bouton a droite pour l'ajout de patient -->
	<ion-nav-buttons side="right" >
		<!-- indique que c'est un bouton menu et qui ammenne a "addPatient" -->
		<button class="button button-icon ion-android-more-vertical" ng-click="popover.show($event)"></button>
	</ion-nav-buttons>
</ion-view>
