<ion-view cache-view="false" view-title = "ECG">
	<ion-content>
		<div class="le_graph">
	        <!--<h1>Visualisation de l'ECG</h1> -->
					<!-- <ion-scroll overflow-scroll="false" zooming="true" direction="xy" style="width: 100%; height: 100%"> -->
	      		<!-- <canvas id="monitor" height="300" style="background-color: black; width: 100%;" </canvas> -->
						<!-- <canvas id="monitor"></canvas> -->
						<canvas id="monitor" height="750" width="1280" style="background-color: black;"> </canvas>

					<!-- </ion-scroll> -->
	    </div>
	</ion-content>
</ion-view>
