/* Empty. Add your own CSS if you like */


.info-patient .item-content {
	padding-right: 16px;
}

.info-patient .bouton-du-patient {
	float: left;
}

.info-patient .info-du-patient{
	float: left;
}

.momPopover{
	height:18%;
}

/* modifie l'icone de la liste de home */

.info-patient i.icon{
	margin-right: 15px;
  font-size: 30px;


}


/* tous les span de home on une marge de 30px */
.info-patient span{
	margin-right: 30px;
}

.info-alert span{
  margin-right: 30px;
}

.ion-person {
  color : lime ;
}

.ion-alert-circled {
  color : #B01919; /* rouge */
}

.circled_blue {
  color : blue !important;
}/* Empty. Add your own CSS if you like */
