/* Empty. Add your own CSS if you like */
/* POur le bouton enregistrer dans addpatient */
.btEnregistre {
	position: absolute;
	bottom: 0;
	width: 100%;
}

.info-patient .item-content {
	padding-right: 16px;
}

.info-patient .bouton-du-patient {
	float: left;
}

.info-patient .info-du-patient{
	float: left;
}

/* pour donner une taille a l'option menu de modifList */
.momPopover{
	/*height:1;*/
	height:120px;
}

/* modifie l'icone de la liste de home */

.info-patient i.icon{
	margin-right: 15px;
  font-size: 30px;
}


/* tous les span de home on une marge de 30px */
.info-patient span{
	margin-right: 30px;
}

.info-alert span{
  margin-right: 30px;
}

/* icone de home */
.ion-person {
  color : lime ;
}

.ion-alert-circled {
  color : #B01919; /* rouge */
}

.circled_blue {
  color : blue !important;
}

.ion-android-alert {
  color : #e65c00; /* orange */
}

.circled_blue {
  color : blue !important;
}

/*
#monitor {
	background-color: black;
	width: 100%;
	height: 100%;
	display:block;
	position: absolute;
}
*/
/* Empty. Add your own CSS if you like */
